<div id="<%= dom_id session_category %>">
  <p>
    <strong>Name:</strong>
    <%= session_category.name %>
  </p>

  <p>
    <strong>Point based:</strong>
    <%= session_category.point_based %>
  </p>

</div>
