<h1>Editing session score</h1>

<%= render "form", session_score: @session_score %>

<br>

<div>
  <%= link_to "Show this session score", @session_score %> |
  <%= link_to "Back to session scores", session_scores_path %>
</div>
