.data{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    flex: 0 0 fit-content;
    padding-bottom: 5px;
    margin-bottom: 4%;
    margin-top: 3px;
}

.user-data{
    align-items: flex-start;
    padding: 10%;
}

.game-data{
    display: flex;
    gap: 6vw;
    margin-bottom: 16px;
    justify-content: flex-start;
}

.listing > h3{
    margin-top: 0;
}

img{
    width: 50%;
    object-fit: cover;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-bottom: 16px;
    min-width: 100vw;
}

.table .row{
    width: 100%;
}

.scores input{
    width: 80%;
}

.table .input{
    gap: 0px;
}

.game-table{
    align-items: flex-start;
}

.headers{
    display: grid;
    font-size: 18px;
    width: 100%;
}

.headers div{
    text-align: left;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
}

.row{
    display:grid;
    width: 100%;
}

.linked{
    display: flex
}

.top-game{
    display: grid;
    grid-template-columns: 1.25fr 1.75fr 1fr;
    margin: 2vw;
}

.top-session{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 90%;
    align-items: flex-start;
    padding: 2vh;
    border-bottom: 2px solid #4A5759;
}

.top-session h3, .top-session h2, .game-data h3{
    margin: 0;
}

.top-session .date-entry{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-session .body-button{
    font-size: 16px;
}

.game-details, .session-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4%;
}

.session-details{
    margin: 2vw;
    width: 50%;
}

.session-details > .row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10%;
    margin-bottom: 5%;
}

.session-details > .row > h2{
    margin: 0;
}

.game-details > h3{
    margin-top: 0;
}

.game-details > .data{
    width: 100%;
    align-items: flex-start;
}

.entry{
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 15px;
}

.entry > .link{
    text-decoration: none;
    color: #93748A;
}

.game-details .body-button{
    font-size: 16px;
    padding: 0;
}

.game-details .body-button:hover, 
.category-row > .form > form > .submit:hover, 
.session-details > .row > .form > form > .submit:hover,
.top-session > .date-entry > .body-button:hover,
.player-section > .form > form > .body-button:hover{
    color: #AECFDF;
    background-color: transparent;
}

.session-data{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
    margin-top: 5%;
    padding: 2vh;
}

.player-section{
    border-right: 2px solid #4A5759;
}

.player-section .input{
    gap: 0px;
}

.player-section .body-button{
    gap: 0px;
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 15px;
}

.scores{
    margin-left: 2vw;
    justify-content: center;
}

@media (max-width: 768px) {
    .top-game, .top-session{
        grid-template-columns: 1fr;
    }
    .session-details{
        flex: 0 0 100%;
    }
    .session-data{
        grid-template-columns: 1fr;
    }
    .player-section{
        border-right: none;
        border-bottom: 2px solid #4A5759;
    }
    .scores{
        margin-left: 0px;
        margin-top: 2vh;
    }
  }