.data{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    min-height: fit-content;
    padding-bottom: 5px;
}

.game-data{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3px;
    margin-bottom: 4px;
    align-items: flex-start;
    justify-content: flex-start;
}

.listing > h3{
    margin-top: 0;
}

img{
    width: 50%;
    object-fit: cover;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin-left: 2%;
    //margin-right: 2%;
    //margin-top: 0px;
    //width: 90vw;
    //gap: 3vh;
}

.headers{
    display:grid
}

.row{
    display:grid
}

.linked{
    display: flex
}