.data{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    min-height: fit-content;
    padding-bottom: 5px;
    margin-bottom: 4%;
}

.user-data{
    align-items: flex-start;
    padding: 10%;
}

.game-data{
    display: flex;
    gap: 5%;
    margin-bottom: 4px;
    align-items: flex-start;
    justify-content: flex-start;
}

.listing > h3{
    margin-top: 0;
}

img{
    width: 50%;
    object-fit: cover;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headers{
    display:grid
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
}

.row{
    display:grid
}

.linked{
    display: flex
}