.search{
    display: flex;
    width: 95vw;
    margin-top: 2vh;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.search .field, .search .field input{
    width: 100%;
    border-radius: 5px;
    height: 20px;
    font-size: 18px;
}

.search .label{
    font-size: 20px;
    text-align: center;
}

.search .checkmark{
    display: none;
    visibility: hidden;
    width: 0px;
}

.search .submit{
    font-size: 16px;
    text-align: center;
    padding: 7px;
    background-color: #E0DFD5;
    border-radius: 10px;
    color: #313638;
}

.input{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    width: 100%;
    margin-bottom: 1em;
}

input{
    height: fit-content;
    width: 80%;
}

input[type='checkbox']{
    height: 16px;
}

input:focus + .checkmark{
    background-color: yellow;
    color: #313638;
}

.checkmark{
    display: flex;
    font-size: 10px;
    justify-content: center;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #94FBAB;
    color: white;
}

.submit{
    font-size: 20px;
    margin-top: 5px;
}

.form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.field{
    display: flex;
    gap: 2px;
    align-self: center;
    align-items: center;
}

.create-data{
    margin-top: 5vh;
    gap: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.linked{
    display: flex;
    font-size: 14px;
    align-items: center;
}

.category-row{
    width: 100%;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.category-row > .form > form{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    justify-content: flex-start;
    width: 100%;
    gap: 0px;
    align-items: center;
}

.category-row > .form > form > .input{
    justify-content: flex-start;
    gap: 0px;
}

.category-row > .form > form > .submit{
    font-size: 14px;
}

.session-details .submit{
    font-size: 16px;
    padding: 0;
    width: 100%;
}

.input select{
    height: 25px;
}

.body-button.delete-button{
    color: darkred;
}

.body-button.delete-button:hover{
    color: red;
    background-color: transparent;
}

.body-button.delete-button:active{
    color: red;
    background-color: transparent;
}

.body-button.delete-button .x{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    background-color: darkred;
    color: #E0DFD5;
}

.help-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    transform: translate(-50%, -50%);
    background-color: #4A5759;
    opacity: 0.9;
    color: white;
    padding: 1em;
    border-radius: 10px;
}

.label{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    input[type='checkbox']{
        height: 18px;
        width: 18px;
    }

    input[type='checkbox']{
        height: 18px;
    }

    .submit, .linked, input, .search, .label, .checkmark{
        font-size: 1.03em;
    }

    .checkmark{
        height: 15px;
        width: 15px;
    }
    .body-button.delete-button{
        font-size: 18px;
    }
}
