<h1>Editing session player</h1>

<%= render "form", session_player: @session_player %>

<br>

<div>
  <%= link_to "Show this session player", @session_player %> |
  <%= link_to "Back to session players", session_players_path %>
</div>
